body
{
background-color:lightblue;
}
img
{
border-radius:8px;
}
.right
{
color:SlateBlue;
text-align:right;
}
.div
{
padding-left:3cm;
}
h4
{
border-style:
th
{
background-color:yellow;
}
table,th,td
{
border:1px solid black;
}
table{
border-collapse:collapse;}
